<script type="text/javascript" defer>
    function getUser() {
        var username = localStorage.getItem("username");
        var url = "http://localhost:8888/profile/user_div/";
        var data = {
            "username": username
        };
        $.post(
            url,
            data,
            (res) => {
                console.log(res.result_msg);
                console.log(JSON.stringify(res));
                if (res.result_code === 0) {
                    var student = res.student;
                    $("#user_div_name").html(student.username);
                    $("#user_div_mail").html(student.mailaddress);
                    $("#user_div_qq").html(student.qqid);
                    $("#user_div_wechat").html(student.wechatid);
                    $("#user_div_date").html(student.nowDate);
                }
            }
        )
    }

    getUser();
</script>