<!-- jQuery and bootstrtap js -->
<script src="/static/bundles/lib.vendor.bundle.js"></script>

<!-- start plugin js file  -->
<script src="/static/bundles/apexcharts.bundle.js"></script>
<script src="/static/bundles/counterup.bundle.js"></script>
<script src="/static/bundles/knobjs.bundle.js"></script>
<script src="/static/bundles/c3.bundle.js"></script>
<script src="/static/bundles/flot.bundle.js"></script>
<script src="/static/bundles/jvectormap1.bundle.js"></script>

<!-- Start core js and page js -->
<script src="/static/js/core.js"></script>