<div class="tab-pane fade" id="pills-timeline" role="tabpanel"
     aria-labelledby="pills-timeline-tab">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">预约记录</h3>
            <div class="card-options">
                <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                        class="fe fe-chevron-up"></i></a>
                <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                        class="fe fe-maximize"></i></a>
                <div class="item-action dropdown ml-2">
                    <a href="javascript:void(0)" data-toggle="dropdown"><i
                            class="fe fe-more-vertical"></i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="javascript:void(0)" class="dropdown-item"><i
                                class="dropdown-icon fa fa-eye"></i> View Details </a>
                        <a href="javascript:void(0)" class="dropdown-item"><i
                                class="dropdown-icon fa fa-share-alt"></i> Share </a>
                        <a href="javascript:void(0)" class="dropdown-item"><i
                                class="dropdown-icon fa fa-cloud-download"></i> Download</a>
                        <div class="dropdown-divider"></div>
                        <a href="javascript:void(0)" class="dropdown-item"><i
                                class="dropdown-icon fa fa-copy"></i> Copy to</a>
                        <a href="javascript:void(0)" class="dropdown-item"><i
                                class="dropdown-icon fa fa-folder"></i> Move to</a>
                        <a href="javascript:void(0)" class="dropdown-item"><i
                                class="dropdown-icon fa fa-edit"></i> Rename</a>
                        <a href="javascript:void(0)" class="dropdown-item"><i
                                class="dropdown-icon fa fa-trash"></i> Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="timeline_item ">
                <img class="tl_avatar" src="/static/images/xs/avatar1.jpg" alt=""/>
                <span>
                    <a href="javascript:void(0);" onclick="showBuyerModal();">
                        买家用户名
                    </a>
                    <small class="float-right text-right">
                        预约日期
                    </small>
                </span>
                <div class="msg">
                    <h6 class="font600">
                        商品名称
                        <a href="javascript:void(0);" class="ml-auto font-12 text-azure" onclick="showGoodsModal();">
                            商品信息
                        </a>
                    </h6>
                    <ul style="list-style: none">
                        <li>购买数量: 件</li>
                    </ul>
                    <span class="mr-20 text-muted text-orange">
                        &yen;总价
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
