<!-- Modal -->
<div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">提示</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closeButton" data-dismiss="modal"
                        onclick="$('#warningModal').modal('hide');">关闭
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function showWarningModal(msg) {
        $("#warningModal div.modal-body").html(msg);
        $("#warningModal").modal("show");
    }
</script>