<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Crush it Able The most popular Admin Dashboard template and ui kit">
    <meta name="author" content="PuffinTheme the theme designer">

    <link rel="icon" href="favicon.ico" type="image/x-icon"/>

    <title>:: Crush it :: Page Empty</title>

    <!-- Bootstrap Core and vendor -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Core css -->
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/theme4.css" id="stylesheet"/>
</head>

<body class="font-opensans">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
    </div>
</div>

<!-- Start main html -->
<div id="main_content">

    <!-- Small icon top menu -->
    <div id="header_top" class="header_top">
        <div class="container">
            <div class="hleft">
                <div class="dropdown">
                    <a href="javascript:void(0)" class="nav-link user_btn"><img class="avatar"
                                                                                src="/static/images/user.png"
                                                                                alt=""/></a>
                    <a href="page-search.html" class="nav-link icon"><i class="fa fa-search"></i></a>
                    <a href="index.html" class="nav-link icon"><i class="fa fa-home"></i></a>
                    <a href="app-email.html" class="nav-link icon app_inbox"><i class="fa fa-envelope"></i></a>
                    <a href="app-chat.html" class="nav-link icon xs-hide"><i class="fa fa-comments"></i></a>
                    <a href="app-filemanager.html" class="nav-link icon app_file xs-hide"><i
                            class="fa fa-folder"></i></a>
                </div>
            </div>
            <div class="hright">
                <div class="dropdown">
                    <a href="javascript:void(0)" class="nav-link icon settingbar"><i class="fa fa-bell"></i></a>
                    <a href="javascript:void(0)" class="nav-link icon menu_toggle"><i class="fa fa-navicon"></i></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Notification and  Activity-->
    {% include "./frame/frame_right_sidebar.html" %}

    <!-- start User detail -->
    {% include "./frame/frame_user.html" %}

    <!-- start Main menu -->
    {% include "./frame/frame_left_sidebar.html" %}

    <!-- start main body part-->
    <div class="page">
        <!-- start body header -->
        <div id="page_top" class="section-body">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="left">
                        <h1 class="page-title">Page Empty</h1>
                    </div>
                    <div class="right">
                        <div class="notification d-flex">
                            <button type="button" class="btn btn-facebook"><i class="fa fa-info-circle mr-2"></i>Need
                                Help
                            </button>
                            <button type="button" class="btn btn-facebook"><i class="fa fa-file-text mr-2"></i>Data
                                export
                            </button>
                            <button type="button" class="btn btn-facebook"><i class="fa fa-power-off mr-2"></i>Sign Out
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-body">
            <div class="container-fluid">
                <h4>修改密码</h4>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">输入信息</h3>
                    </div>
                    <div class="card-body">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="form-label">用户名</label>
                                <input type="text"
                                       class="form-control"
                                       id="username"
                                       name="username"
                                       value="{{ username }}"
                                       disabled="">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="form-label">原密码</label>
                                <input type="password"
                                       class="form-control"
                                       id="input_origin_password"
                                       name="input_origin_password"
                                       oninput="checkOriginPasswd();">
                                <div class="invalid-feedback">原密码输入错误</div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="form-label">新密码
                                    <small class="text-gray-dark">(8-20位字母和数字的组合)</small>
                                </label>
                                <input type="password"
                                       class="form-control"
                                       id="new_password"
                                       name="new_password"
                                       oninput="checkNewPasswdValid();">
                                <div class="invalid-feedback">新密码格式错误</div>
                                {#                            <input type="text" class="form-control mt-3 state-valid" value="Valid state">#}
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="form-label">确认新密码</label>
                                <input type="password"
                                       class="form-control"
                                       id="confirm_new_password"
                                       name="confirm_new_password"
                                       oninput="checkConsistent();">
                                <div class="invalid-feedback">两次输入密码不匹配</div>
                                {#                            <input type="text" class="form-control mt-3 state-invalid" value="Invalid state">#}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" style="display: inline-block">
                                <label class="form-label">邮箱验证码</label>
                                <input type="text"
                                       class="form-control"
                                       id="verification"
                                       name="verification">
                            </div>
                            <button class="text-right btn text-white bg-azure" type="button" id="verifyBtn"
                                    name="verifyBtn"
                                    onclick="onVerifyButton();">
                                发送验证码
                            </button>
                        </div>
                        <div class="card-footer text-right">
                            <button type="button" class="btn btn-primary" onclick="confirmChange();">
                                确认修改
                            </button>
                        </div>
                        <input type="hidden" id="origin_password" name="origin_password" value="{{ password }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">提示</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">确认</button>
            </div>
        </div>
    </div>
</div>

<!-- jQuery and bootstrtap js -->
<script src="/static/bundles/lib.vendor.bundle.js"></script>

<!-- start plugin js file  -->
<script src="/static/js/change_passw.js"></script>

<!-- Start core js and page js -->
<script src="/static/js/core.js"></script>
</body>
</html>