<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Crush it Able The most popular Admin Dashboard template and ui kit">
    <meta name="author" content="PuffinTheme the theme designer">

    <link rel="icon" href="favicon.ico" type="image/x-icon"/>

    <title>:: Crush it :: Page Empty</title>

    <!-- Bootstrap Core and vandor -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css"/>

    <!-- Core css -->
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/theme4.css" id="stylesheet"/>
    <link rel="stylesheet" href="/static/css/goods_detail.css">
</head>

<body class="font-opensans">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
    </div>
</div>

<!-- Start main html -->
<div id="main_content">

    <!-- Small icon top menu -->
    <div id="header_top" class="header_top">
        <div class="container">
            <div class="hleft">
                <div class="dropdown">
                    <a href="javascript:void(0)" class="nav-link user_btn"><img class="avatar"
                                                                                src="/static/images/user.png"
                                                                                alt=""/></a>
                    <a href="page-search.html" class="nav-link icon"><i class="fa fa-search"></i></a>
                    <a href="index.html" class="nav-link icon"><i class="fa fa-home"></i></a>
                    <a href="app-email.html" class="nav-link icon app_inbox"><i class="fa fa-envelope"></i></a>
                    <a href="app-chat.html" class="nav-link icon xs-hide"><i class="fa fa-comments"></i></a>
                    <a href="app-filemanager.html" class="nav-link icon app_file xs-hide"><i
                            class="fa fa-folder"></i></a>
                </div>
            </div>
            <div class="hright">
                <div class="dropdown">
                    <a href="javascript:void(0)" class="nav-link icon settingbar"><i class="fa fa-bell"></i></a>
                    <a href="javascript:void(0)" class="nav-link icon menu_toggle"><i class="fa fa-navicon"></i></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Notification and  Activity-->
    {% include "frame/frame_right_sidebar.html" %}

    <!-- start User detail -->
    {% include "frame/frame_user.html" %}

    <!-- start Main menu -->
    {% include "frame/frame_left_sidebar.html" %}

    <!-- start main body part-->
    <div class="page">
        <!-- start body header -->
        <div id="page_top" class="section-body">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="left">
                        <h1 class="page-title">商品详情</h1>
                    </div>
                    <div class="right">
                        <div class="notification d-flex">
                            <button type="button" class="btn btn-facebook"><i class="fa fa-info-circle mr-2"></i>Need
                                Help
                            </button>
                            <button type="button" class="btn btn-facebook"><i class="fa fa-file-text mr-2"></i>Data
                                export
                            </button>
                            <button type="button" class="btn btn-facebook"><i class="fa fa-power-off mr-2"></i>Sign Out
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-body" id="goods_card" data-id="{{ goods.goodid }}">
            <div class="card-header">
                <h3 class="card-title">商品信息</h3>
            </div>
            <div class="card card-aside">
                <img src="{{ goods.imageurl }}" alt="{{ goods.goodname }}" class="card-aside-column goods_image">
                <div class="card-body d-flex flex-column">
                    <h4>
                        {{ goods.goodname }}
                    </h4>
                    <h6>
                        <span class="text-orange">&yen;<i id="detail_price">{{ goods.goodprice }}</i></span>
                        <span class="ml-auto">剩余 <i id="detail_num">{{ goods.goodnum }}</i> 件</span>
                    </h6>
                    <div class="mt-20">
                        <h4 class="title text-gray-dark font-weight-bold">商品描述</h4>
                        <div class="text-muted font-20">
                            {{ goods.description }}
                        </div>
                    </div>
                    <div class="d-flex align-items-center pt-5 mt-auto">
                        <img class="avatar avatar-md mr-3" src="/static/images/xs/avatar4.jpg"/>
                        <div>
                            <a href="#" class="" onclick="showSellerModal();"
                               id="sellerUsername">
                                {{ goods.sellerusername }}
                            </a>
                        </div>
                        <div class="ml-auto">
                            <i class="fa fa-eye mr-1"></i> <span>{{ goods.views }}</span>
                            {% if goods.like %}
                                <i class="fa fa-heart mr-1 ml-2" id="like_button"
                                   style="color: tomato;"
                                   data-id="{{ goods.goodid }}"
                                   data-status="unlike"></i> <span>{{ goods.likes }}</span>
                            {% else %}
                                <i class="fa fa-heart-o mr-1 ml-2" id="like_button"
                                   style="color: black;"
                                   data-id="{{ goods.goodid }}"
                                   data-status="unlike"></i> <span>{{ goods.likes }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer text-right">
                <button type="button" class="btn btn-primary" onclick="showReservationModal();">
                    预约商品
                </button>
                <button type="button" class="btn btn-primary"
                        onclick="window.location.href='http://localhost:8888/mart/';">
                    返回商城
                </button>
            </div>
        </div>
    </div>
</div>

{% include "modals/sellerInfoModal.html" %}
{% include "modals/reservationModal.html" %}
{% include "modals/warningModal.html" %}

<!-- jQuery and bootstrtap js -->
<script src="/static/bundles/lib.vendor.bundle.js"></script>

<!-- start plugin js file  -->

<!-- Start core js and page js -->
<script src="/static/js/core.js"></script>

<script src="/static/js/mart/goods_detail.js"></script>
</body>
</html>