<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Crush it Able The most popular Admin Dashboard template and ui kit">
    <meta name="author" content="PuffinTheme the theme designer">

    <link rel="icon" href="favicon.ico" type="image/x-icon"/>

    <title>:: Crush it :: Blog</title>

    <!-- Bootstrap Core and vandor -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css"/>

    <!-- Core css -->
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/theme4.css" id="stylesheet"/>
    <link rel="stylesheet" href="/static/css/mart.css">
</head>

<body class="font-opensans" onload="onLoadFunction();">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
    </div>
</div>

<!-- Start main html -->
<div id="main_content">

    <!-- Small icon top menu -->
    <div id="header_top" class="header_top">
        <div class="container">
            <div class="hleft">
                <div class="dropdown">
                    <a href="javascript:void(0)" class="nav-link user_btn"><img class="avatar"
                                                                                src="/static/images/user.png"
                                                                                alt=""/></a>
                    <a href="page-search.html" class="nav-link icon"><i class="fa fa-search"></i></a>
                    <a href="index.html" class="nav-link icon"><i class="fa fa-home"></i></a>
                    <a href="app-email.html" class="nav-link icon app_inbox"><i class="fa fa-envelope"></i></a>
                    <a href="app-chat.html" class="nav-link icon xs-hide"><i class="fa fa-comments"></i></a>
                    <a href="app-filemanager.html" class="nav-link icon app_file xs-hide"><i
                            class="fa fa-folder"></i></a>
                </div>
            </div>
            <div class="hright">
                <div class="dropdown">
                    <a href="javascript:void(0)" class="nav-link icon settingbar"><i class="fa fa-bell"></i></a>
                    <a href="javascript:void(0)" class="nav-link icon menu_toggle"><i class="fa fa-navicon"></i></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Notification and  Activity-->
    {% include "frame/frame_right_sidebar.html" %}

    <!-- start User detail -->
    {% include "frame/frame_user.html" %}

    <!-- start Main menu -->
    {% include "frame/frame_left_sidebar.html" %}

    <!-- start main body part-->
    <div class="page">

        <!-- start body header -->
        <div id="page_top" class="section-body">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="left">
                        <h1 class="page-title">商场</h1>
                    </div>
                    <div class="right">
                        <div class="notification d-flex">
                            <button type="button" class="btn btn-facebook"><i class="fa fa-info-circle mr-2"></i>Need
                                Help
                            </button>
                            <button type="button" class="btn btn-facebook"><i class="fa fa-file-text mr-2"></i>Data
                                export
                            </button>
                            <button type="button" class="btn btn-facebook"><i class="fa fa-power-off mr-2"></i>Sign Out
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-body mt-3">
            <div class="container-fluid">
                <div class="row row-cards">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <a href="" id="new_post_button" class="btn btn-primary mr-2">发布商品</a>
                                <div class="page-options d-flex">
                                    <select class="form-control custom-select w-auto mr-2" id="order_select">
                                        <option value="null">默认排序</option>
                                        <option value="time">最新</option>
                                        <option value="views">最多人逛</option>
                                    </select>
                                    <select class="form-control custom-select w-auto" id="query_select">
                                        <option value="name">按品名查询</option>
                                        <option value="seller">按商家查询</option>
                                    </select>
                                    <div class="input-icon ml-2">
                                        <span class="input-icon-addon">
                                            <i class="fe fe-search"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Search Mart"
                                               id="search_input"
                                               name="search_input">
                                    </div>
                                    <button type="button" class="btn btn-primary ml-2"
                                            id="query_button"
                                            name="query_button">
                                        查询
                                    </button>
                                    <button type="button" class="btn btn-primary ml-2"
                                            id="refresh_button"
                                            name="refresh_button"
                                            onclick="getAllGoods();">
                                        刷新商城
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card-columns col-lg-12" id="mart_goods">
                    </div>
                </div>
            </div>
        </div>

        <!-- Start page footer -->
        {% include "frame/frame_footer.html" %}
    </div>
</div>

<!-- jQuery and bootstrtap js -->
<script src="/static/bundles/lib.vendor.bundle.js"></script>

<!-- start plugin js file  -->

<!-- Start core js and page js -->
<script src="/static/js/core.js"></script>

<script src="/static/js/mart/mart.js"></script>

<script type="text/javascript">
    document.querySelector("#new_post_button").href = "/profile/" + localStorage.getItem("username") + "/";
</script>
{% include "modals/warningModal.html" %}
</body>
</html>