<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Crush it Able The most popular Admin Dashboard template and ui kit">
    <meta name="author" content="PuffinTheme the theme designer">

    <link rel="icon" href="favicon.ico" type="image/x-icon"/>

    <title>:: Crush it :: Blog</title>

    <!-- Bootstrap Core and vandor -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css"/>

    <!-- Core css -->
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/theme4.css" id="stylesheet"/>
    <link rel="stylesheet" href="/static/css/mart.css">
</head>

<body class="font-opensans" onload="onLoadFunction();">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
    </div>
</div>

<!-- Start main html -->
<div id="main_content">

    <!-- Small icon top menu -->
    <div id="header_top" class="header_top">
        <div class="container">
            <div class="hleft">
                <div class="dropdown">
                    <a href="javascript:void(0)" class="nav-link user_btn"><img class="avatar"
                                                                                src="/static/images/user.png"
                                                                                alt=""/></a>
                    <a href="page-search.html" class="nav-link icon"><i class="fa fa-search"></i></a>
                    <a href="index.html" class="nav-link icon"><i class="fa fa-home"></i></a>
                    <a href="app-email.html" class="nav-link icon app_inbox"><i class="fa fa-envelope"></i></a>
                    <a href="app-chat.html" class="nav-link icon xs-hide"><i class="fa fa-comments"></i></a>
                    <a href="app-filemanager.html" class="nav-link icon app_file xs-hide"><i
                            class="fa fa-folder"></i></a>
                </div>
            </div>
            <div class="hright">
                <div class="dropdown">
                    <a href="javascript:void(0)" class="nav-link icon settingbar"><i class="fa fa-bell"></i></a>
                    <a href="javascript:void(0)" class="nav-link icon menu_toggle"><i class="fa fa-navicon"></i></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Notification and  Activity-->
    {% include "frame/frame_right_sidebar.html" %}

    <!-- start User detail -->
    {% include "frame/frame_user.html" %}

    <!-- start Main menu -->
    {% include "frame/frame_left_sidebar.html" %}

    <!-- start main body part-->
    <div class="page">

        <!-- start body header -->
        <div id="page_top" class="section-body">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="left">
                        <h1 class="page-title">我的收藏</h1>
                    </div>
                    <div class="right">
                        <div class="notification d-flex">
                            <button type="button" class="btn btn-facebook"><i class="fa fa-info-circle mr-2"></i>Need
                                Help
                            </button>
                            <button type="button" class="btn btn-facebook"><i class="fa fa-file-text mr-2"></i>Data
                                export
                            </button>
                            <button type="button" class="btn btn-facebook"><i class="fa fa-power-off mr-2"></i>Sign Out
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-body mt-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-columns" id="favourites_list">
                            {#                            <div class="card">#}
                            {#                                <a href="http://localhost:8888/mart/G2023121310003241460098/page/">#}
                            {#                                    <img class="card-img-top preview"#}
                            {#                                         src="/static/web_images/G2023121310003241460098.jpg"#}
                            {#                                         alt="">#}
                            {#                                </a>#}
                            {#                                <div class="card-body d-flex flex-column">#}
                            {#                                    <h5 class="flex-row align-items-center">#}
                            {#                                        <div class="inlineblock">${goodname}&nbsp;<small#}
                            {#                                                class="font-8">${create_time}</small></div>#}
                            {#                                        <div class="float-right inlineblock ml-auto font-14 d-flex align-items-center">#}
                            {#                                            <img class="avatar avatar-md mr-3" src="/static/images/xs/avatar4.jpg">#}
                            {#                                            <div>${sellerusername}</div>#}
                            {#                                        </div>#}
                            {#                                    </h5>#}
                            {#                                    <p class="text-muted">${description}</p>#}
                            {#                                    <div class="d-flex align-items-center pt-5 mt-auto">#}
                            {#                                        <div><span class="text-orange font-20">&yen;${goodprice}</span> <small#}
                            {#                                                class="d-block text-muted">剩余${goodnum}件</small></div>#}
                            {#                                        <div class="ml-auto text-muted">#}
                            {#                                            <i class="fa fa-eye mr-1"></i> ${views}#}
                            {#                                            <i class="fa fa-heart text-red mr-1"></i>#}
                            {#                                        </div>#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Start page footer -->
        {% include "frame/frame_footer.html" %}
    </div>
</div>

<!-- jQuery and bootstrtap js -->
<script src="/static/bundles/lib.vendor.bundle.js"></script>

<!-- start plugin js file  -->

<!-- Start core js and page js -->
<script src="/static/js/core.js"></script>
<script src="/static/js/favourites/favourite.js"></script>
{% include "modals/warningModal.html" %}
</body>
</html>