<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Crush it Able The most popular Admin Dashboard template and ui kit">
    <meta name="author" content="PuffinTheme the theme designer">

    <link rel="icon" href="favicon.ico" type="image/x-icon"/>

    <title>:: Crush it :: Contact</title>

    <!-- Bootstrap Core and vandor -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/plugins/sweetalert/sweetalert.css"/>
    <link rel="stylesheet" href="/static/plugins/dropify/css/dropify.min.css">

    <!-- Core css -->
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/theme4.css" id="stylesheet"/>
    <link rel="stylesheet" href="/static/css/reservation.css">
</head>

<body class="font-opensans" onload="onLoadFunction();">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
    </div>
</div>

<!-- Start main html -->
<div id="main_content">

    <!-- Small icon top menu -->
    <div id="header_top" class="header_top">
        <div class="container">
            <div class="hleft">
                <div class="dropdown">
                    <a href="javascript:void(0)" class="nav-link user_btn"><img class="avatar"
                                                                                src="/static/images/user.png"
                                                                                alt=""/></a>
                    <a href="page-search.html" class="nav-link icon"><i class="fa fa-search"></i></a>
                    <a href="index.html" class="nav-link icon"><i class="fa fa-home"></i></a>
                    <a href="app-email.html" class="nav-link icon app_inbox"><i class="fa fa-envelope"></i></a>
                    <a href="app-chat.html" class="nav-link icon xs-hide"><i class="fa fa-comments"></i></a>
                    <a href="app-filemanager.html" class="nav-link icon app_file xs-hide"><i
                            class="fa fa-folder"></i></a>
                </div>
            </div>
            <div class="hright">
                <div class="dropdown">
                    <a href="javascript:void(0)" class="nav-link icon settingbar"><i class="fa fa-bell"></i></a>
                    <a href="javascript:void(0)" class="nav-link icon menu_toggle"><i class="fa fa-navicon"></i></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Notification and  Activity-->
    {% include "frame/frame_right_sidebar.html" %}

    <!-- start User detail -->
    {% include "frame/frame_user.html" %}

    <!-- start Main menu -->
    {% include "frame/frame_left_sidebar.html" %}

    <!-- start main body part-->
    <div class="page">
        <!-- start body header -->
        <div id="page_top" class="section-body">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="left">
                        <h1 class="page-title">我的预约记录</h1>
                    </div>
                    <div class="right">
                        <div class="notification d-flex">
                            <button type="button" class="btn btn-facebook"><i class="fa fa-info-circle mr-2"></i>Need
                                Help
                            </button>
                            <button type="button" class="btn btn-facebook"><i class="fa fa-file-text mr-2"></i>Data
                                export
                            </button>
                            <button type="button" class="btn btn-facebook"><i class="fa fa-power-off mr-2"></i>Sign Out
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-body mt-3">
            <div class="container-fluid">
                <div class="section-body">
                    <div class="container-fluid">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="reservations" role="tabpanel">
                                <div class="table-responsive" id="accommodationList">
                                    <table class="table table-hover table-vcenter text-nowrap table_custom list">
                                        <thead>
                                        <tr>
                                            <th class="text-center">商品图片</th>
                                            <th class="text-center">商品名称</th>
                                            <th class="text-center">商家</th>
                                            <th class="text-center">购买数量</th>
                                            <th class="text-center">总价</th>
                                            <th class="text-center">订单状态</th>
                                            <th class="text-center">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody id="reservation_list">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Start page footer -->
                {% include "frame/frame_footer.html" %}
            </div>
        </div>
    </div>
</div>
</body>
{% include "modals/goodsInfoModal.html" %}
{% include "modals/sellerInfoModal.html" %}
{% include "modals/deleteModal.html" %}
<!-- jQuery and bootstrtap js -->
<script src="/static/bundles/lib.vendor.bundle.js"></script>

<!-- start plugin js file  -->
<script src="/static/bundles/sweetalert.bundle.js"></script>
<script src="/static/plugins/dropify/js/dropify.min.js"></script>

<!-- Start core js and page js -->
<script src="/static/js/core.js"></script>
<script src="/static/js/page/sweetalert.js"></script>
<script src="/static/js/reservation/reservation.js"></script>
{% include "frame/frame_scripts.html" %}
{% include "modals/warningModal.html" %}
</html>